# Ignore Node.js dependencies
node_modules/


# Ignore logs
*.log
logs/

# Ignore operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore build artifacts
dist/
build/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

src/CSVfileData/universities_data.csv